.Black{
    background: black;
    color: white;
}
.Pink{
    background: pink;
}
.Yellow{
    background: greenyellow;
}
.done {
  text-decoration: line-through; /* crosses out text */
  color: gray;
}
